@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Suisse Int'l", sans-serif !important;
  font-weight: 400;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility h-screen {
  height: 100vh;
  height: 100dvh;
}

@utility container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 90%;
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 90%;
    max-width: 1536px;
  }
}